<div class="converter-container">
  <h2 class="converter-title">Money converters</h2>
  <form (ngSubmit)="convertCurrency()" #converterForm="ngForm" class="converter-form">
    <div>
      <label for="fromCurrency" class="converter-label">From:</label>
      <select id="fromCurrency" name="fromCurrency" [(ngModel)]="selectedFromCurrency" required class="converter-input">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
    <div>
      <label for="toCurrency" class="converter-label">To:</label>
      <select id="toCurrency" name="toCurrency" [(ngModel)]="selectedToCurrency" required class="converter-input">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
    <div>
      <label for="amount" class="converter-label">Amount:</label>
      <input type="number" id="amount" name="amount" [(ngModel)]="amountToConvert" required class="converter-input">
    </div>
    <button type="submit" [disabled]="converterForm.invalid" class="converter-button">Convert</button>
  </form>
  <div *ngIf="convertedAmount !== undefined" class="converter-result">
    <p>Conversion result: {{ convertedAmount | number: '1.2-2' }}</p>
  </div>
</div>
